.header {
    dock: top;
    height: auto;
}

.auto {
    height: auto;
    width: auto;
}

.autoheight {
    height: auto;
}

.autowidth {
    width: auto;
}

Button.compact {
    height: auto;
    border: none;
    border-left: $border;
    border-right: $border;
}

.panel {
    border: solid $border;
    padding: 0 1;
    margin: 1;
}

.ghostpanel {
    padding: 0 1;
    margin: 1;
}