.header {
    dock: top;
    height: auto;
}

.autoheight {
    height: auto;
}

.autowidth {
    width: auto;
}

Button.compact {
    height: auto;
    border: none;
    border-left: $border;
    border-right: $border;
}